header {
  display: flex;
  position: fixed;
  z-index: 1;

  align-items: center;

  justify-content: space-between;
  background-color: #e6e6fa;
  width: 100%;
}

main {
  padding-top: 3.5rem;
  margin-left: 13rem;
  overflow-x: hidden;
}

.fa-globe,
.fa-bars {
  margin: 0rem 1.5rem;
}

.slider {
  animation: imageSlider 15s linear infinite;
}

.slider_list {
  display: flex;
}

.slider_item {
  list-style: none;
}

@keyframes imageSlider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

nav {
  position: fixed;
  top: 8rem;
  padding: 3rem;
}

.index {
  list-style: none;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

nav > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

img {
  display: flex;
  width: 10rem;
  height: 13rem;
  object-fit: cover;
  gap: 0.5rem;

  border-radius: 0.8rem;
  padding: 0.5rem;
}

.slider_list,
.images_layout {
  display: flex;
}
