header {
  display: flex;
  position: fixed;
  z-index: 1;

  align-items: center;

  justify-content: space-between;
  background-color: #e6e6fa;
  width: 100%;
}

main {
  padding-top: 3.5rem;
  margin-left: 13rem;
}

.fa-globe,
.fa-bars {
  margin: 0rem 1.5rem;
}

.slider {
}

.slider_list {
  display: flex;
  padding: 0;
  transform: translate(0, 0);
}

.slider_item {
  list-style: none;
}

nav {
  position: fixed;
  top: 8rem;
  padding: 3rem;
}

.index {
  list-style: none;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

nav > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

.images_layout {
  display: flex;
}
