* {
  font-family: "Gowun Dodum", sans-serif;
}

html {
  width: 100%;
  height: 100vh;
  background: rgb(51, 61, 121);
  background: linear-gradient(
    90deg,
    rgba(51, 61, 121, 1) 0%,
    rgba(145, 143, 176, 1) 100%,
    rgba(250, 235, 239, 1) 100%,
    rgba(250, 235, 239, 1) 100%
  );
}

body {
  background-color: #faebef;
  width: 30rem;
  height: auto;
  margin: 0 auto;
  margin-top: 13rem;
  border-radius: 0.8rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  & > h1 {
    color: #333d79;
  }
}

h3 {
  font-size: 1.6rem;
}

.input_layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  & > input {
    border-radius: 0.8rem;
    border: 2px solid #333d79;
    outline: none;
    padding: 0.3rem;
    color: #333d79;
  }
  & > input:focus {
    border-radius: 0.8rem;
    border: 2px solid #333d79;
    background-color: #faebef;
  }
  & > button {
    border-radius: 0.5rem;
    background-color: #333d79;
    border: 2px solid #333d79;
    color: #faebef;
  }
  & > button:hover {
    background-color: #faebef;
    border: 2px solid #333d79;
    color: #333d79;
    transition: all 0.5s;
  }
}

.todo_layout {
  display: flex;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  align-items: baseline;

  color: #333d79;
  gap: 7rem;

  button {
    margin-left: auto;
    border-radius: 0.8rem;
    border: 2px solid #333d79;
    color: #333d79;
    background-color: #faebef;
  }
  button:hover {
    background-color: #333d79;
    color: #faebef;
    border: 2px solid #faebef;
    transition: all 0.5s;
  }
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2rem;
  border: 1px solid #333d79;
  background-color: #333d79;
  color: #faebef;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  animation: todoAnimation 5s infinite;
  & > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@keyframes todoAnimation {
  25% {
    transform: scale(1.05);
    transition: all 0.5s;
  }
  50% {
    transform: scale(1);
    transition: all 0.5s;
  }
  75% {
    transform: scale(1.05);
    transition: all 0.5s;
  }
}
