html {
  width: 100%;
  height: 100vh;
  background: rgb(43, 174, 102);
  background: linear-gradient(
    0deg,
    rgba(43, 174, 102, 1) 0%,
    rgba(252, 246, 245, 1) 55%
  );
  font-family: "Poor Story", system-ui;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  & > h2 {
    color: #2bae66;
  }
}

h3 {
  font-size: 1.5rem;
}

.input_layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  & > input {
    border-radius: 0.8rem;
    border: 1px solid #2bae66;
    outline: none;
    padding: 0.3rem;
    color: #2bae66;
  }
  & > button {
    border-radius: 0.5rem;
    background-color: #2bae66;
    border: 1px solid #2bae66;
    color: #fcf6f5;
  }
}

.todo_layout {
  display: flex;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  align-items: baseline;

  color: #2bae66;
  gap: 10rem;

  button {
    margin-left: auto;
    border-radius: 0.8rem;
    border: 1px solid #2bae66;
    color: #fcf6f5;
    background-color: #2bae66;
  }

  & > section {
  }
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 2rem;
  border: 1px solid #2bae66;
  background-color: #fcf6f5;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  animation: todoAnimation 5s infinite;
  & > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@keyframes todoAnimation {
  25% {
    transform: scale(1.05);
    transition: all 0.5s;
  }
  50% {
    transform: scale(1);
    transition: all 0.5s;
  }
  75% {
    transform: scale(1.05);
    transition: all 0.5s;
  }
}
